In [1]:
import pandas as pd
from lr_def import *

In [2]:
file='../team_project/train.csv'
df=pd.read_csv(file)
df=pd.DataFrame(df)
df

,img_path,upscale_img_path,label
0,./train/TRAIN_00000.jpg,./upscale_train/TRAIN_00000.png,Ruddy Shelduck
1,./train/TRAIN_00001.jpg,./upscale_train/TRAIN_00001.png,Gray Wagtail
2,./train/TRAIN_00002.jpg,./upscale_train/TRAIN_00002.png,Indian Peacock
3,./train/TRAIN_00003.jpg,./upscale_train/TRAIN_00003.png,Common Kingfisher
4,./train/TRAIN_00004.jpg,./upscale_train/TRAIN_00004.png,Common Kingfisher
...,...,...,...
15829,./train/TRAIN_15829.jpg,./upscale_train/TRAIN_15829.png,Common Myna
15830,./train/TRAIN_15830.jpg,./upscale_train/TRAIN_15830.png,Common Kingfisher
15831,./train/TRAIN_15831.jpg,./upscale_train/TRAIN_15831.png,Cattle Egret
15832,./train/TRAIN_15832.jpg,./upscale_train/TRAIN_15832.png,Ruddy Shelduck
15833,./train/TRAIN_15833.jpg,./upscale_train/TRAIN_15833.png,Forest Wagtail

In [3]:
ddf=df.groupby('label')

In [4]:
ddf=pd.DataFrame(ddf)

In [5]:
ddf

,0,1
0,Asian Green Bee-Eater,img_path ...
1,Brown-Headed Barbet,img_path ...
2,Cattle Egret,img_path ...
3,Common Kingfisher,img_path ...
4,Common Myna,img_path ...
5,Common Rosefinch,img_path ...
6,Common Tailorbird,img_path ...
7,Coppersmith Barbet,img_path ...
8,Forest Wagtail,img_path ...
9,Gray Wagtail,img_path ...
10,Hoopoe,img_path ...
11,House Crow,img_path ...
12,Indian Grey Hornbill,img_path ...
13,Indian Peacock,img_path ...
14,Indian Pitta,img_path ...
15,Indian Roller,img_path ...
16,Jungle Babbler,img_path ...
17,Northern Lapwing,img_path ...
18,Red-Wattled Lapwing,img_path ...
19,Ruddy Shelduck,img_path ...
20,Rufous Treepie,img_path ...
21,Sarus Crane,img_path ...
22,White Wagtail,img_path ...
23,White-Breasted Kingfisher,img_path ...
24,White-Breasted Waterhen,img_path ...

In [ ]:
train_all_models_from_images_color('../team_project/labeled_train.csv','../team_project/test.csv',
                             '과')

[학습셋] 15834 개, [테스트셋] 6786 개

=== KFold 교차검증 (n_splits=5) ===

[모델: Logistic]
- KFold Mean Acc=0.2345, F1=0.2035

[모델: SVC]